<header
  class="flex flex-col items-center space-y-2 z-10 mb-5 mx-20 lg:mx-48 max-w-lg"
>
  <h1 class="text-3xl font-medium tracking-wider mt-[60px]">Our Collection</h1>
  <p class="text-slate-gray text-center min-w-[300px]">
    Introducing our Coffee Collection, a selection of unique coffees from
    different roast types and origins, expertly roasted in small batches and
    shipped fresh weekly.
  </p>
</header>
